{% extends "base.html" %}


{% block title %} Homepage {% endblock title %}

{% block content %}
  <header>
    <div class="header-content">
      <p>Your Favourite <br> Restuarant <br> Food Delivered</p>
    </div>
  </header>
  <div class="container">
  <div class="our_services">
    <h2>Our Service</h2>
    <div class="text-sm"></div>
    <div class="our_service">
      <div class="home_delivery">
        <a href="">
      <i class="fa fa-shopping-cart"></i>
      <h4>Home Delivery</h4>
      <p class="text-sm">We offers all kinds of meals at affordable price
        with quick delivery and faster services. Make your order now get your delicious food deliver to your door way.
        Quality is important to us. Our team checks your products, for example with visual inspections, and remove any 
        faulty goods. Depending on the customer’s requirements, we can also take care of returns and fix damage that may be present.</p>
      </a>
      </div>
      <div class="event_planner">
        <a href="">
        <i class="fa fa-address-card"></i>
        <h4>Event Planning</h4>
        <p class="text-sm">Our Event Design & Décor package is the aesthetic essence of your event, giving it its own sensory appeal. 
          We will design your event to match your vision, budget, and personality. Upon our initial meeting, we turn your ideas into
          a full concept while considering your budgetary needs. From there, we’ll design a completely customized event that uniquely 
          blends your vision with the venue’s unique configuration and architecture.</p>
          </a>
      </div>
      <div class="special_package">
        <a href="">
        <i class="fa fa-shopping-bag"></i>
        <h4>Special Package</h4>
        <p class="text-sm">We order-pick your goods packages quickly and efficiently, so that your products reach your customers fast.
          Our special packaging services, you can ensure your packaging protects products, compiles with rgulations, reduces product loss 
          and controls environmental issues in the distributions of your products.
        </p>
      </a>
      </div>
    </div>
  </div>
</div>
  <div class="welcome-text">
    <h4>Some of our Meals</h4>
    <p>Our Restuarant is a Restuarant that offers all kinds of meals at affordable price
      with quick delivery and faster services. Make your order now get your delicious food deliver to your door way 
  </p>
  </div>
  <div class="container">
    <div class="menus">
      <div class="menu_content">
        <div class="food jollofrice">
          <a href="Home-food/rice.html">
          <img src="image/jollofrice.jpg" alt="">
          <div class="food_content jollofrice_content">
          <p><strong>Dishname:</strong> <span class="text-sm"> Jollof Rice</span></p>
          <p><strong>Price:</strong> <span class="text-sm">#1,500</span></p>
          </div>
          <div class="food_link jollofrice_link">
            <a class="btn_link" href="Home-food/rice.html">Order Now</a>
          </div>
          </a>
        </div>
      <div class="food chicken">
        <a href="Home-food/chicken.html">
        <img src="image/chinken4.jpg" alt="">
        <div class="food_content chinken_content">
          <p><strong>Dishname:</strong> <span class="text-sm">Chicken</span></p>
          <p><strong>Price:</strong> <span class="text-sm">#1,200</span></p>
        </div>
        <div class="food_link chicken_link">
        <a class="btn_link" href="Home-food/chicken.html">Order Now</a>
        </div>
        </a>
      </div>
      <div class="food chips_burger">
        <a href="Home-food/chips-buurger.html">
        <img src="image/chips&bugr.jpg" alt="">
        <div class="food_content chips_content">
          <p><strong>Dishname:</strong> <span class="text-sm">Chips And Burger</span></p>
          <p><strong>Price:</strong> <span class="text-sm">#2,500</span></p>
        </div>
        <div class="food_link chips_link">
          <a class="btn_link" href="Home-food/chips-buurger.html">Order Now</a>
        </div>
        </a>
      </div>
      <div class="food rice_chicken">
        <a href="Home-food/rice-chicken.html">
        <img src="image/rice&chicken.jpg" alt="">
        <div class="food_content rice_chicken_content">
          <p><strong>Dishname:</strong> <span class="text-sm">Rice And Chicken </span></p>
          <p><strong>Price:</strong> <span class="text-sm">#2,200</span></p>
        </div>
        <div class="food_link rice_chicken-link">
          <a class="btn_link" href="Home-food/rice-chicken.html">Order Now</a>
        </div>
        </a>
      </div>
      <div class="food sandwish">
        <a href="Home-food/sandwich.html">
        <img src="image/sandwich.jpg" alt="">
        <div class="food_content sandwish_content">
          <p><strong>Dishname:</strong><span class="text-sm">Sandwich</span></p>
          <p><strong>Price:</strong><span class="text-sm">#2,300</span></p>
        </div>
        <div class="food_link sandwish_link">
          <a class="btn_link" href="Home-food/sandwich.html">Order Now</a>
      </div>
      </a>
      </div>
      <div class="food salad">
        <a href="Home-food/salad.html">
        <img src="image/salad (2).jpg" alt="">
        <div class="food_content salad_content">
          <p><strong>Dishname:</strong> <span class="text-sm">Salad</span></p>
          <p><strong>Price:</strong> <span class="text-sm">#1,000</span></p>
        </div>
        <div class="food_link salad_link"> 
          <a class="btn_link" href="Home-food/salad.html">Order Now</a>
        </div>
        </a>
      </div>
      <div class="food pancake">
        <a href="Home-food/pancake.html">
        <img src="image/pancake (2).jpg" alt="">
        <div class="food_content pancake_content">
          <p><strong>Dishname:</strong> <span class="text-sm">PanCake</span></p>
          <p><strong>Price:</strong> <span class="text-sm">#900</span></p>
        </div>
        <div class="food_link pancake_link"> 
          <a class="btn_link" href="Home-food/pancake.html">Order Now</a>
        </div>
      </a>
      </div>
      <div class="food pasta">
        <a href="Home-food/pasta.html">
        <img src="image/pasta (2).jpg" alt="">
        <div class="food_content pasta_content">
          <p><strong>Dishname:</strong> <span class="text-sm">Pasta</span></p>
          <p><strong>Price:</strong> <span class="text-sm">#2,100</span></p>
        </div>
        <div class="food_link pasta-link"> 
          <a class="btn_link" href="Home-food/pasta.html">Order Now</a>
        </div>
        </a>
      </div>
      <div class="food spaghetti">
        <a href="Home-food/spaghetti.html">
        <img src="image/spaghetti.jpg" alt="">
        <div class="food_content spaghetti_content">
          <p><strong>Dishname:</strong> <span class="text-sm">Spaghetti</span></p>
          <p><strong>Price:</strong> <span class="text-sm">#2,300</span></p>
        </div>
        <div class="food_link spaghetti-link"> 
          <a class="btn_link" href="Home-food/spaghetti.html">Order Now</a>
        </div>
        </a>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
  <div class="specific_menu">
    <div class="specified">
      <div class="img-container">
      <img src="image/burger3.jpg" alt="">
      </div>
      <div class="specified_content">
        <h2>Bugger</h2>
        <p class="text-sm">one of the most delicious meal at our Restuarant is a Bugger
          which is mostly liked by our customers. For more delicious meals like to reach out 
          to our promises place your order by creating an account if you don't have an account
          create one from the top most right corner on the signup link for the best service.
        </p>
      </div>
    </div>
    <div class="specified">
      <div class="img-container chicken-img">
      <img src="image/chinken4.jpg" alt="">
      </div>
      <div class="specified_content">
        <h2>Chicken</h2>
      <p class="text-sm">A food rich in protein, chicken can help with weight management 
        and reduce the risk of heart disease. Chicken contains the amino acid tryptophan, 
        which has been linked to higher levels of serotonin (the “feel good” hormone) in our brains.</p>
    </div>
  </div>
    <div class="specified">
      <div class="img-container">
      <img src="image/pasta3.jpg" alt="">
    </div>
      <div class="specified_content">
        <h2>Pasta</h2>
      <p class="text-sm">Pasta is made from grain, one of the basic food groups 
        in a healthy diet that also can include vegetables, fruits, fish, and poultry. 
        t's a good source of energy and can give you fiber, too, if it's made from 
        whole grain. That can help with stomach problems and may help lower cholesterol.</p>
    </div>
  </div>
  </div>
  </div>
{% endblock content %}