<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Food Ordering</title>
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../roboto/Roboto-Regular.ttf" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<main class="main_dashboard">
<div class="admin_navbar">
  <p>RESTURANT</p>
  <a href="add_admin.html">Add new Admin</a>
</div>
<div class="dashboard">
<div class="side_right_dashboard">
  <div class="home side_right">
    <div class="part_link">
      <i class="fa fa-home"></i>
      <a href="../Admin Dashboard/admin.html">Home</a>
      </div>
      <div class="angle_down">
      <i class="fa fa-angle-down"></i>
      </div>
    </div>
    <div class="menue-admin side_right">
      <div class="part_link">
      <i class="fa fa-cutlery"></i>
      <a href="add_product.html">Menue</a>
      </div>
      <div class="angle_down">
        <i class="fa fa-angle-down"></i>
      </div>
    </div>
    <div class="drinks-admin side_right">
      <div class="part_link">
      <i class="fa fa-glass"></i>
      <a href="add_drinks.html">Drinks</a>
      </div>
      <div class="angle_down">
        <i class="fa fa-angle-down"></i>
      </div>
    </div>     
    <div class="snacks-admin side_right">
    <div class="part_link">
    <i class="fa fa-stack-exchange"></i>
    <a href="add_snacks.html">Snacks</a>
    </div>
    <div class="angle_down">
      <i class="fa fa-angle-down"></i>
    </div>
  </div>
  <div class="order_admin side_right">
    <div class="part_link">
    <i class="fa fa-shopping-cart"></i>
    <a href="order.html">Orders</a>
    </div>
    <div class="angle_down">
      <i class="fa fa-angle-down"></i>
    </div>
  </div>
</div>
<div class="side-left-prder">
  <div class="add_menu">
    <p class="text_ml">
      ADD ADMIN
    </p>
  </div>
  <div class="add_munue">
    <form action="">
      <div class="admin_details">
      <div class="data">
        <div class="firstname">
        <label for="">FirstName</label>
        <input type="text" placeholder="FirstName" required name="Firstname">
       </div>
       <div class="middlename">
         <label for="">LastName</label>
         <input type="text" placeholder="MiddleName" required name="Lastname">
       </div>
      </div>
      <div class="data">
       <div class="mail">
       <label for="">UserName</label>
       <input type="email" placeholder="Email" required name="Username">
      </div>
      <div class="phonenumber">
        <label for="">Email</label>
        <input type="text" placeholder="Phone Numberr" required name="Email">
      </div>
     </div>
      <div class="data">
       <div class="password">
       <label for="">PassWord</label>
       <input type="password" placeholder="password" required name="password">
     </div>
     <div class="confirm_password">
       <label for="">Confirm PassWord</label>
       <input type="password" placeholder="password" required name="password">
     </div>
     </div>
      <button class="btn btn-primary">ADD</button>
    </form>
  </div>
</div>
</div>
</main>
<script src=".../bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>

