{% extends "admin_page/admin_base.html" %}

{% block title %} Admin - Home {% endblock title %}

{% block right-side-content %}
  <div class="side-left-dashboard">
  <div class="users">
    <div class="mb-4"><i class="fa-solid fa-user fa-2xl"></i></div>
    <p class="fw-bold">Users</p>
    <p>{{ user_count }}</p>
  </div>
  <div class="users">
    <div class="mb-4"><i class="fa-solid fa-table-list fa-2xl"></i></div>
    <p class="fw-bold">Menus</p>
    <p>{{ no_of_foods }}</p>
  </div>
  <div class="users">
    <div class="mb-4"><i class="fa-solid fa-list-check fa-2xl"></i></i></div>
    <p class="fw-bold">Orders</p>
    <p>{{ no_of_orders }}</p>
  </div>
</div>
{% endblock right-side-content %}