{% extends "admin_page/admin_base.html" %}

{% block title %} Admin - Menu {% endblock title %}

{% block right-side-content %}
 <div class="menu m-4">
  <div class="row">
     {% if foods %}
        {% for food in foods %}
          <div class="col-md-4">
            
            <div class="card" style="width: 18rem;">
              <img src="{{ food.image.url }}" class="card-img-top" alt="{{ food.title }}">
              <div class="card-body">
                <h5>{{ food.title }}</h5>
                <p class="card-text">{{ food.description }}</p>
              </div>
              <div class="btn-group">
                <a href="{{ food.url }}" class="btn btn-primary">Edit</a>
                <a href="{{ food.url }}" class="btn btn-danger">Delete</a>
              </div>
            </div>
           

          </div>
        {% endfor %}
     {% else %}
        <div class="col-md-4">
          <h2>No food available yet</h2>
        </div>
     {% endif %}
  </div>  
 </div>
{% endblock right-side-content %}