{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Login {% endblock title %}
{% block content %}
<div class="signin_header">
  <div class="signin_details">
    <form action="" method="POST">
    {% csrf_token %}
      <div class="user">
        <label for="">Email</label>
        <input type="email" placeholder="Your email" required name="email" />
      </div>
      <div class="user">
        <label for="">Password</label>
        <input
          type="password"
          required
          name="password"
          id=""
          placeholder="PassWord"
        />
      </div>
      <div class="signin_btn">
        <button type="submit">Sign in</button>
      </div>
      <div class="create_account">
        <p class="text-sm">Or</p>
        <a href="signup.html">Create an Account</a>
      </div>
    </form>
  
  </div>
</div>
{% endblock content %}
