{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Create an account{% endblock title %}
{% block content %}
<div class="signup_header">
  <div class="signup_header_text">
    <h3>
      Sign Up <br />
      Here
    </h3>
  </div>
</div>
<div class="signup">
  <form action="" method="post">
    {% csrf_token %}
    <div class="data">
      <div class="firstname">
        <label for="">{{ form.first_name.label }}</label>
        {% render_field form.first_name %}
      </div>
    </div>
    <div class="data">
      <div class="firstname">
        <label for="">{{ form.last_name.label }}</label>
        {% render_field form.last_name %}
      </div>
    </div>
    <div class="data">
      <div class="mail">
        <label for="">{{ form.username.label }}</label>
        {% render_field form.username %}
      </div>
    </div>
    <div class="data">
      <div class="phonenumber">
        <label for="">{{ form.phone_no.label }}</label>
        {% render_field form.phone_no %}
      </div>
    </div>
    <div class="data">
      <div class="password">
        <label for="">{{ form.password1.label }}</label>
        {% render_field form.password1 %}
      </div>
      <div class="confirm_password">
        <label for="">{{ form.password2.label }}</label>
        {% render_field form.password2 %}
      </div>
    </div>
    <div class="signup_btn">
      <button class="btn" type="submit">Sign Up</button>
    </div>
  </form>
</div>
<section class="information">
  <div class="footer-content">
    <div class="finix-footer">
      <div class="finix-footer-text">
        <div class="logo">
          <a class="navbar-brand" href="index.html"><i class="logo">Restaurant</i></a>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
          perferendis repellat?
        </p>
      </div>
      <div class="follow-us">
        <p>Follow us:</p>
        <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
        <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a>
        <a href="https://www.google.com"><i class="fa fa-google"></i></a>
      </div>
    </div>
    <div class="footer-left-side">
      <div class="quick-link">
        <p>Quick Link</p>
        <div class="footer-link">
          <a href="">About</a>
          <a href="">Our Performance</a>
          <a href="">Help(FAQ)</a>
          <a href="">Blog</a>
          <a href="">Contact</a>
        </div>
      </div>
      <div class="other-resources">
        <p>Other Resources</p>
        <div class="footer-link">
          <a href="">Support</a>
          <a href="">Privacy polices</a>
          <a href="">Term of Service</a>
          <a href="">Business Loans</a>
          <a href="">Loan Service</a>
        </div>
      </div>
      <div class="last-part">
        <p>Contact Us</p>
        <div class="address town">
          <i class="fa fa-paper-plane"></i>
          <p class="">Agun, offa, LCG , Kwara State, Nigeria</p>
        </div>
        <div class="email">
          <a href="" class="address envelop">
            <i class="fa fa-envelope-o"></i>
          </a>
          <div class="info">
            <a href="">info@gmail.com</a>
            <a href="">Sherluck65@gmail.com</a>
          </div>
        </div>
        <a href="" class="address phone">
          <i class="fa fa-phone"></i>
          <p>+88564321890</p>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
